@import "tailwindcss";


@theme {
    --color-odoo-dark: #7a3f66;
    --color-odoo: #975480;
    --color-odoo-light: #b3719c;
    --color-danger: rgb(210, 63, 58);
    --color-success: rgb(0, 136, 24);
    --color-warning: rgb(245, 158, 11);
}
